# Version: CentOS 8

# Set the authentication options for the system
authselect --useshadow --passalgo sha512

# License agreement
eula --agreed

# Network installation
url --url="https://mirror.informatik.hs-fulda.de/centos/8-stream/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl=https://mirror.informatik.hs-fulda.de/centos/8/BaseOS/x86_64/os/../../../AppStream/x86_64/os/

# Use text mode install
text

# Disable Initial Setup on first boot
firstboot --disable

# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=link --activate
network --hostname=centos8-template.localdomain

# Set root user password
rootpw $6$/j2H.8gOsHn2WCid$WkJROfAFz2LzoJG46WGfClkzY142QA0PgI2NlICLYlXbGoKCxTiazQFDNDgvfsWz01o9XxMPDvvty5u8Ts1A.1 --iscrypted

# SELinux and firewall configuration
selinux --enforcing
firewall --enabled --service ssh

# Do not configure the X Window System
skipx

# NTP and Time zone settings
timezone --ntpservers pool.ntp.org --utc Europe/Berlin

# Add an OpenNMS admin user
user --groups=wheel --name=onms-admin --password=$6$mFd6SuAEJNSebfjA$vXxy8OqJ2GiYcQOvGTv3zbEGr/wVfskqe6SVjKB9yQGr1TSugxFnJ6X9Y0bwO5Gglg3GJV7NlEJ7E54DpMdNJ. --iscrypted --gecos="onms-admin"

# Configure bootloader
bootloader --location=mbr --append="crashkernel=auto"

# Clear MBR and all partitions and use LVM
zerombr
clearpart --all --initlabel
autopart --type=lvm

# Reboot after successful installation
reboot

%packages --ignoremissing --excludeWeakdeps
# dnf group info minimal-environment
@^minimal-environment
# Exclude unnecessary firmwares
-iwl*firmware
bash-completion
bind-utils
bzip2
chrony
curl
dnf-utils
iputils
openssh-server
open-vm-tools
psmisc
python3
python3-libselinux
strace
sudo
tar
vim
wget
zsh
%end

%post --nochroot --logfile=/mnt/sysimage/root/ks-post.log
# Disable quiet boot and splash screen
#sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/etc/default/grub
#sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/boot/grub2/grubenv

# Passwordless sudo for the user 'onms-admin'
echo "onms-admin ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/onms-admin

dnf -y update

# cloud-init
dnf -y install cloud-init cloud-utils-growpart

# Make sure rescue image is not built without a configuration change
echo dracut_rescue_image=no > /etc/dracut.conf.d/no-rescue.conf

# Finalize
truncate -s 0 /etc/resolv.conf
rm -f /var/lib/systemd/random-seed
restorecon -R /etc > /dev/null 2>&1 || :

# Clean
dnf -C clean all
/bin/rm -rf /etc/*- /etc/*.bak /root/* /tmp/* /var/tmp/*
/bin/rm -rf /var/cache/dnf/* /var/lib/dnf/modulefailsafe/*
/bin/rm -rf /var/log/*debug /var/log/anaconda /var/lib/rhsm
%end